
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body {
    font-family: 'Poppins', sans-serif;
}
h1 {
    color: #d98cab;
}
a:hover {
    color: #d98cab;
}


h1 {
    font-size: 36px;
    color: #d98cab; 
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 26px;
    color: #d98cab;
    margin-top: 40px;
}

nav {
    text-align: center;
    padding: 15px;
    background-color: #ffffff;
}

nav a {
    text-decoration: none;
    color: #2b2b2b;
    margin: 0 15px;
    font-weight: 600;
}


nav a:hover {
    color: #d98cab;
}


.container {
    width: 90%;
    max-width: 900px;
    margin: 20px auto;
}


p {
    margin-bottom: 15px;
}


img {
    width: 30%;
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}


.button, .btn {
    background-color: #d98cab;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
}


.button:hover, .btn:hover {
    background-color: #c07698;
}


footer {
    text-align: center;
    margin: 40px 0 20px;
    color: #777;
    font-size: 14px;
}
a {
    display: block;
    margin-bottom: 10px;
}